---
// filepath: /Users/evelynxiao/Desktop/projects/Website/evelynxiao/src/pages/projects/[project].astro
import fs from 'fs';
import path from 'path';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const projectsDir = path.resolve('./src/components/projects');
  const projectFiles = fs.readdirSync(projectsDir).filter(file => file.endsWith('.json'));

  const paths = projectFiles.map(file => {
    const projectData = JSON.parse(fs.readFileSync(path.join(projectsDir, file), 'utf-8'));
    return { params: { project: projectData.slug } };
  });

  return paths;
}

const { projectName } = Astro.props;
const { project } = Astro.params;
const projectsDir = path.resolve('./src/components/projects');
const projectFile = path.join(projectsDir, `${project}.json`);
const projectData = JSON.parse(fs.readFileSync(projectFile, 'utf-8'));

import background from "../../assets/home-background.png"
---

<Layout>
    <main>
        <div id="box" class="row">
            <div>
                <h1>{projectData.title}</h1>
            </div>
            <div>
                <img src={ projectData.banner } alt={projectData.banner}/>
            </div>
        </div>
       
        <p>{projectData.description}</p>
        <p>{projectData.tools}</p>
        <p>{projectData.what}</p>
        <p>{projectData.why}</p>
    </main>
</Layout>

<style>
    #box {
        border: 1px solid white;
    }
</style>